@main(title = "about") {
    <div class="container">

      <div class="starter-template">
      
      	<h1>about iDone</h1>
      </div>
      	
      	<div>iDone lets you track and showcase your daily accomplishments </div>
      	
      	<ul>
      	<li>create an account and start writing in less than a minute</li>
      	<li>built with security and privacy as a primary goals</li>
      	<li>select sharing options from:  private, share with manager, or public</li>
      	<li>export your data or integrate to external systems via secure REST API or Webservices </li>
      	<li>enter iDone items online, via email, or on your smart phone</li>
      	<li>available in English, Español, Français, Deutsch, Italiano, Język Polski, Português, русский язык, 日本語, 中文, हिन्दी,  العربية, Türkçe</li>
      	<li>completely free for personal use (corporate plans from $10 per month)</li>
		</ul>

		<div>Stop making depressing todo lists, instead celebrate your daily accomplishments!</div>
      	
        
      </div>

    </div><!-- /.container -->
}