@(form: Form[(String,String,String)])(implicit flash: Flash, session: Session)

@main(title = "contact") {

    <div class="container">

      <div class="starter-template">
      
        @helper.form(routes.Application.submitcreateuser) {
            
            <h1>Create new account</h1>
            
            @form.globalError.map { error =>
                <p class="error">
                    @error.message
                </p>
            }
            
            @flash.get("success").map { message =>
                <p class="success">
                    @message
                </p>
            }
            
            <div class="row">
              <div class="col-sm-4" ></div>
            
              <div class="col-sm-4">
                <input class="form-control span4" type="email" name="email" placeholder="Email" id="email" value="@form("email").value">
                <input class="form-control span4" type="password" name="password" id="password" placeholder="Password">
                <input class="form-control span4" type="password2" name="password2" id="password2" placeholder="re-enter Password">
                <button class="btn btn-primary" type="submit" id="createbutton">Create</button>
              </div>
            
              <div class="col-sm-4" ></div>
            
            </div>
        }
        
        <p class="note">
            note that passwords are stored in a secure hash, and you we cannot send you a forgotten password.
        </p>

        
      </div>

    </div><!-- /.container -->

}