@()(implicit session: Session)
@main(title = "home") {
<div data-ng-app="app" data-ng-controller="ListCtrl" lang="en">
    <div class="container">

      <div class="starter-template">
@session.get("email").map { user =>
        <h1><button data-ng-click="decreasedate()" class="glyphicon glyphicon-step-backward"></button><span data-ng-model="doneday">{{doneday}}</span><button data-ng-click="increasedate()" class="glyphicon glyphicon-step-forward"></button></h1>
        <p class="lead mycenter">Today I've completed the following tasks</p>
        
        <div class="row mycenter" >
         <div class="col-sm-3" ></div>
         <div class="col-sm-6" >         
          <ul class="list-group" style="text-align: left;">
            <li ng-repeat="celebrity in celebrities | orderBy:['createdate']" class="list-group-item"><img src="@routes.Assets.at("img/check_box.png")" />{{celebrity.donetext}}</li>
            
            <li class="list-group-item"><span ng-hide="editing" style="text-align: left;">
            <form role="form" class="animate-show" ng-show="show">
               <img src="@routes.Assets.at("img/check_box.png")" />
               <input id="donetext" name="donetext" type="text" data-ng-model="donetext" placeholder="task text" size="50" ng-required/>
               <button data-ng-click="add()" class="btn btn-primary" type="submit">add</button>
            </form>
           </span>
           </li>
            
          </ul>

           <button type="button" class="btn btn-primary">Save</button>
           <button type="button" class="btn btn-primary">Finalize & Submit</button>
         </div><!-- /.col-sm-6 -->
         <div class="col-sm-3" ></div>
        </div>
}.getOrElse{
            <h1>you should probably <a href="login">login</a></h1>
}          

        
      </div>

    </div><!-- /.container -->
</div>
}