@(form: Form[(String,String)])(implicit flash: Flash, session: Session)

@main(title = "settings") {
    <div class="container">

    @helper.form(routes.Settings.save) {

      <div class="starter-template">
      	<h1>settings</h1>
      	
      	<div class="row">
              <div class="col-sm-4" ></div>
            
              <div class="col-sm-4">
                <input class="form-control span4" type="email" name="email" placeholder="Email" id="email" value="@form("email").value">
                <input class="form-control span4" type="password" name="password" id="password" placeholder="Password">
                <button class="btn btn-primary" type="submit" id="loginbutton">Save</button>
              </div>
            
              <div class="col-sm-4" ></div>
            
            </div>
      	
      	<ul>
      	<li>general: language, emails, etc.</li>
      	<li>profile: email address, password, etc.</li>
      	<li>team: who gets to see your daily reports, etc.</li>
      	<li>integrations: github, zenhub, jira, todoist, etc.</li>
      	<li>download all data as csv, json, xml</li>
      	<li>purge data: click here and do not log in for 120 days and we will purge all your data forever</li>
      	</ul>
      </div>

	}
    </div><!-- /.container -->
}