@(form: Form[(String,String,String,String,String,String)], me: User, 
	confirmedTargets: Seq[User], unconfirmedTargets: Seq[User],
	confirmedOwners: Seq[User], unconfirmedOwnerss: Seq[User])(implicit flash: Flash, session: Session)

@main(title = "settings") {

<div class="container">

    @helper.form(routes.Settings.save) {

  <div class="starter-template">
    <h1>settings</h1>
      	
    <h3>general</h3>

      <div class="row ">
        <div class="col-sm-4 col-md-offset-4">
          <input class="form-control span4" type="text" name="email" id="email" value="@me.email">
          <input class="form-control span4" type="text" name="language" id="language">
          <button class="span4 btn btn-primary" type="submit" id="generalsavebutton">Save</button>
        </div>
      </div>
  </div>

  <div class="starter-template">
    <h3>change password</h3>

      <div class="row ">
        <div class="col-sm-4 col-md-offset-4">
          <input class="form-control span4" type="password" name="password" id="password" placeholder="Password">
          <input class="form-control span4" type="password" name="passwordnew1" id="passwordnew1" placeholder="new password">
          <input class="form-control span4" type="password" name="passwordnew2" id="passwordnew2" placeholder="re-enter new password">
          <button class="span4 btn btn-primary" type="submit" id="changepasswordbutton">Save</button>
        </div>
      </div>
  </div>

  <div class="starter-template">
    <h3>export data</h3>

      <div class="row ">
        <div class="col-sm-4 col-md-offset-4">
          <a href="settings_csv_export">download data export as a CSV file</a>
        </div>
      </div>

      <div class="row ">
        <div class="col-sm-4 col-md-offset-4">
          <a href="settings_xml_export">download data export as an XML file</a>
        </div>
      </div>

      <div class="row ">
        <div class="col-sm-4 col-md-offset-4">
          <a href="settings_json_export">download data export as a JSON file</a>
        </div>
      </div>
      
  </div>

  <div class="starter-template">
    <h3>team</h3>

      <div class="row ">
        <div class="col-sm-4 col-md-offset-4">
          <div>confirmed team members: @confirmedTargets.size</div>
        </div>
      </div>
      
      <div class="row ">
        <div class="col-sm-4 col-md-offset-4">
          <input class="form-control span4" type="text" name="newusertarget" id="newusertarget" placeholder="new team member email">
          <button class="span4 btn btn-primary" type="submit" id="generalsavebutton">Add New</button>
        </div>
      </div>
      
  </div>


  <div class="starter-template">
    <h3>coming soon.... </h3>
      	
      	<ul>
      	<li>general: language, emails, etc.</li>
      	<li>profile: email address, password, etc.</li>
      	<li>team: who gets to see your daily reports, etc.</li>
      	<li>integrations: github, zenhub, jira, todoist, etc.</li>
      	<li>download all data as csv, json, xml</li>
      	<li>purge data: click here and do not log in for 120 days and we will purge all your data forever</li>
      	</ul>
      	
  </div>
 
	}
    </div><!-- /.container -->
}